<p>I am the SERVERS container</p>
<p>Button Active: {{this.activateButton}}</p>
<!-- <p [innerText]="this.activateButton"></p> -->

<!-- <input type="text" (input)="onInputTyping($event)" class="form-control"> -->
<input type="text" [(ngModel)]="this.typedText" class="form-control">

<button class="btn btn-primary" 
    [disabled]="!this.activateButton"
    (click)="addServer()">ADD SERVER
</button>

<p *ngIf="serverAdded; else noServer">Server was created!</p>
<ng-template #noServer>
    <p>Server NOT created!</p>
</ng-template>
<app-server *ngFor="let server of serverAmount" [customServerId]="server.serverId" [customServerStatus]="server.serverStatus"></app-server>

